html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents scrollbars if content exceeds viewport */
}

/* Set up a flexbox layout for the entire page */
body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

/* Navigation bar */
nav {
    height: 90px;
    line-height: 90px;
    margin-top: 2%;
}

nav::after {
    content: "";
    display: block;
    clear: both;
}

.nav-logo {
    font-size: 30px;
    float: left;
    margin: 0;
    padding-left: 5%;
}

.nav-btn {
    float: left;
    list-style: none;
    margin: 0;
}

ul.nav-btn>li {
    float: left;
    margin-left: 60px;
    font-size: 20px;
    font-weight: bold;
}

/* Dropdown Menu Styling */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 1.5;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search {
    margin: 2% 0 0 7%;
    height: 5%;
    float: right;
}

.slider {
    margin: 2% 0 0 7%;
    height: 5%;
    float: right;
}

/* #search-input {
    border-radius: 4px;
    height: 90%;
    width: 50%;
    font-size: large;
}

#search-button {
    border-radius: 4px;
    height: 98%;
} */

/* Styling for the network graph container */
#network {
    flex-grow: 1;
    width: 100%;
    height: calc(100vh - 90px); /* 100% viewport height minus nav height */
    overflow: hidden; /* Prevents scrollbars if content exceeds container */
}
